---
Language: Cpp
UseCRLF: false
Standard: c++20
UseTab: Always
TabWidth: 4
IndentWidth: 4
ColumnLimit: 128
PointerAlignment: Left
DerivePointerAlignment: false
SpacesInSquareBrackets: false
SpacesInParentheses: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpacesInConditionalStatement: false
SpacesInAngles: false
SpaceInEmptyParentheses: false
SpaceInEmptyBlock: false
SpacesInParens: Never
SpaceBeforeSquareBrackets: false
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeInheritanceColon: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeAssignmentOperators: true
SpaceAfterTemplateKeyword: false
SpaceAfterLogicalNot: false
PackConstructorInitializers: BinPack
NamespaceIndentation: All
#LambdaBodyIndentation: Signature
IndentExternBlock: Indent
IndentCaseBlocks: false
IndentCaseLabels: false
IndentAccessModifiers: false
IndentRequiresClause: false
IncludeBlocks: Regroup
FixNamespaceComments: false
EmptyLineBeforeAccessModifier: LogicalBlock
Cpp11BracedListStyle: false
CompactNamespaces: false
BreakConstructorInitializers: BeforeColon
BreakBeforeBraces: Attach
AlwaysBreakTemplateDeclarations: Yes
AlwaysBreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 10
BreakBeforeConceptDeclarations: Always
AllowShortLambdasOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortEnumsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortBlocksOnASingleLine: Empty
AllowShortCompoundRequirementOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
AlignTrailingComments:
  Kind: Never
  OverEmptyLines: 0
AlignEscapedNewlines: DontAlign
AlignAfterOpenBracket: BlockIndent
AlignOperands: DontAlign
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: false
BinPackArguments: true
BinPackParameters: true
AccessModifierOffset: -4
InsertNewlineAtEOF: true
InsertBraces: true
MaxEmptyLinesToKeep: 2
RequiresClausePosition: OwnLine
IncludeCategories:
  - Regex: <[[:alnum:]_]+>
    Priority: 1
  - Regex: <[[:alnum:]_]+[.]h>
    Priority: 2
  - Regex: ^<godot_cpp/
    Priority: 3
  - Regex: ^<openvic-dataloader/
    Priority: 4
  - Regex: ^<openvic-simulation/
    Priority: 5
  - Regex: ^"openvic-extension/
    Priority: 6
  - Regex: .*
    Priority: 7
