---
UseCRLF: false
Standard: c++20
UseTab: Always
TabWidth: 4
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInContainerLiterals: false
SpacesInConditionalStatement: false
SpacesInCStyleCastParentheses: false
SpacesInAngles: false
SpaceInEmptyParentheses: false
SpaceInEmptyBlock: false
SpaceBeforeSquareBrackets: false
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeInheritanceColon: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeAssignmentOperators: true
SpaceAfterTemplateKeyword: false
SpaceAfterLogicalNot: false
PointerAlignment: Left
NamespaceIndentation: All
IndentWidth: 4
Language: Cpp
IndentCaseLabels: true
FixNamespaceComments: false
Cpp11BracedListStyle: false
ColumnLimit: 0
CompactNamespaces: false
BreakBeforeBraces: Attach
AlwaysBreakTemplateDeclarations: Yes
AlignTrailingComments: true
AlignEscapedNewlines: Left
