Andres Villagra <89531860+KaiserOfNone@users.noreply.github.com>
Arturo <69714460+Jarturog@users.noreply.github.com>
Benjamin Darnell <benjamindarnell00@gmail.com>
BetterBite <38665746+BetterBite@users.noreply.github.com>
Brendan Griffiths <orwellian225@gmail.com>
Brendan Griffiths <orwellian225@gmail.com> <96725360+orwellian225@users.noreply.github.com>
Brendan Griffiths <orwellian225@gmail.com> <96725360+Orwellian-225@users.noreply.github.com>
BrickPi <ajmach6@gmail.com>
BrickPi <ajmach6@gmail.com> <49528459+BrickPi@users.noreply.github.com>
BuildTools <unconfigured@null.spigotmc.org>
ClarkeCode <clarke.john.robert@gmail.com>
ClarkeCode <clarke.john.robert@gmail.com> <33846391+ClarkeCode@users.noreply.github.com>
Conor <conoboy137@hotmail.co.uk>
CptAlanSmith <CptAlanSmith@gmail.com>
CptAlanSmith <CptAlanSmith@gmail.com> <123112708+CptAlanSmith@users.noreply.github.com>
Damian Birchler <damian@damianbirchler.net>
Darki <50775247+DarkiBoi@users.noreply.github.com>
dependabot <49699333+dependabot[bot]@users.noreply.github.com>
dependabot[bot] <49699333+dependabot[bot]@users.noreply.github.com>
devdude <devdude@pop-os.tail8f086.ts.net>
Diarmaid Mckeagney <117989065+DiarmaidMckeagney@users.noreply.github.com>
Frédéric Van Aken <fredericva@live.be>
fxrmi <fxrmillan13@outlook.com>
fxrmi <fxrmillan13@outlook.com> <fxrmillan13@outlook,com>
George L. Albany <Megacake1234@gmail.com>
Giovanni Karra <karragiovanni@gmail.com>
Gone2Daly <71726742+Gone2Daly@users.noreply.github.com>
Hop311 <Hop3114@gmail.com>
Hop311 <Hop3114@gmail.com> <hop3114@gmail.com>
Isaiah <isaiah.witzke@gmail.com>
Jenny <60343038+JennyFunny@users.noreply.github.com>
Julius <43428735+Juliusfrank11@users.noreply.github.com>
Justin Nolan <justin.nolan@exitgames.com>
Justin Nolan <justin.nolan@exitgames.com> <justin@nolan.de>
k0uneli <lucasjamesvalente@gmail.com>
Losethos <Losethos>
markomitos <markomitosevic9@gmail.com>
Nemrav <50055236+Nemrav@users.noreply.github.com>
Nemrav <50055236+Nemrav@users.noreply.github.com> Nemrav <>
nuruvilu <75346368+nuruvilu@users.noreply.github.com>
Rerum02 <105669177+Rerum02@users.noreply.github.com>
Steve Frampton <sframpton40@gmail.com>
Steve Frampton <sframpton40@gmail.com> <40193522+FarmingtonS9@users.noreply.github.com>
TheRedKing247 <tornadoapt@gmail.com>
TheRedKing247 <tornadoapt@gmail.com> <58486113+apassanta@users.noreply.github.com>
Typhion <80718738+Typhion@users.noreply.github.com>
unique-usernames-are-annoying <122932115+unique-usernames-are-annoying@users.noreply.github.com>
Wolfgang Aigner <wolfgang.aigner@yahoo.de>
wvpm <24685035+wvpm@users.noreply.github.com>
xinitrcn1 <239304139+xinitrcn1@users.noreply.github.com>
YouriRombouts <32095006+YouriRombouts@users.noreply.github.com>
zaaarf <zaaarf@proton.me>
zaaarf <zaaarf@proton.me> <80046572+zaaarf@users.noreply.github.com>
zaaarf <zaaarf@proton.me> <me@zaaarf.foo>
